.bg-purple {
    background-color: #7533f9 !important;
}
#main a {
    color: gray;
}
#footer a {
    text-decoration: none;
    color: black;
}
#footer a:hover {
    text-decoration: underline;
    color: var(--bs-primary) !important;
}